.bespoke {
    background-image: url(https://s3-eu-west-1.amazonaws.com/davidgkennedy.com/Portfolio+Images/Freelance-BG-Shape.jpg);
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: right;
}