@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.appHeader {
    min-height: 100vh;
    /* background-image: url(../../images/header.jpg); */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    clip-path: polygon(50% 0%, 100% 0, 100% 86%, 37% 100%, 0 86%, 0 0);
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.appLink {
    color: #61dafb;
}

.headerWrapper {
    display: inline-block;
}

.headerWrapper h1 {
        font-size: 55px;
        font-weight: 300;
        letter-spacing: 0px;
        display: block;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0px;
        /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite; */
        /* background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.headerWrapper h1::after {
    content: "";
    display: none;
}

.headerWrapper h1 span {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 0px;
        /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        color: #000;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.intro-btn {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #000;
    border-radius: 50%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}