.contactBlock {
    text-align: left;
}

.contactBlock h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 25px;
}

.contactBlock p {
    font-size: 13px;
}

.contactBlock p span {
    font-size: 15px;
    font-weight: 600;
    padding-right: 3px;
}

section.form {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    background: #f9f8fd;
    padding-bottom: 0px;
}

@media only screen and (max-width: 767px) {
    .row.portfolioRow .col-sm-12:nth-child(even) {
        margin-top: 0px;
    }
    .copyright {
        padding: 20px 0px 20px 0px;
        text-align: left;
    }
}