.clientLogo {
    opacity: 0.5;
    padding: 0px 10px;
    margin: 0px auto;
    max-width: 170px;
    float: none;
    display: block;
    max-height: 46px;
    top: 50%;
    transform: translateY(-50%);
}