section.experience {
    background: #f9f8fd;
    padding-bottom: 75px;
    padding-top: 75px;
}

.experienceRow {
    width: 100%;
    max-width: 700px;
    margin: 35px auto 0px auto;
}

.experienceRow .intro {
    text-align: center;
}

.experienceRow p {
    margin-bottom: 40px;
}

.buttonRow {
    margin-top: 35px;
}

.experienceRow .buttonRow a {
    margin: 0px 10px;
}

.experienceRow .col-12.col-md-4 svg {
    color: #16c2b9;
}

.experienceRow .col-12.col-md-4 svg {
    text-align: left;
    display: block;
    margin: 15px 0px;
}

.experienceRow .col-12.col-md-4 h4 {
    margin-bottom: 20px;
}

.experienceRow .col-12.col-md-4 h5 {
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    margin-bottom: 10px;
    color: #051441;
    line-height: 20px;
}

.experienceRow p {
    text-align: left;
    margin-bottom: 15px;
}

.experienceRow p small {
    color: #525d6e;
    display: block;
}

.headerWrapper {
    display: inline-block;
}

.headerWrapper p {
    margin: 15px auto;
    max-width: 500px;
}

.tabList {
    list-style: none;
    text-align: left;
    font-size: 14px;
    float: none;
    border-bottom: 1px solid #e0e0e0;
    margin: 0px 15px 30px 15px;
    padding: 0px;
}

.tab-list-item h5 {
    font-size: 13px;
    margin: 0px;
}

.tabList li {
    cursor: pointer;
    position: relative;
    float: left;
    padding: 0px 0px 10px;
}

.tab-list-item + .tab-list-item {
    margin-left: 55px;
}

.tab-list-item:before {
    content: "";
    width: 0;
    height: 1px;
    background: #16c2b9;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

li.tab-list-item.tab-list-active:before {
    width: 100%;
    right: auto;
    left: 0;
}

li.tab-list-item.tab-list-active h5 {
    color: #16c2b9;
}

.tab-content-item svg {
    width: 35px !important;
    padding: 0px 0px 15px 0px;
    height: 60px;
}

.tabContent {
    text-align: left;
    padding-top: 20px;
}

.tab-content-item h4 {
    color: #16c2b9;
    margin-bottom: 15px;
}

.tab-content-item img {
    padding: 0px 0px 15px 0px;
    height: 60px;
}

.tab-content-item p {
    font-size: 13px;
    color: #4a4a4a;
}