.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0px;
    z-index: 1;
    background-color: #fff;
    left: -300px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main.toggled .sidebar {
    left: 0px;
}

.menu-items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}