.headerWrapper {
    display: inline-block;
}

.columnsJustify {
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    text-align: justify;
}

.iconRow, .aboutMeCols {
    width: 100%;
    max-width: 700px;
    margin: 35px auto 35px auto;
}

.AboutMeCopy {
    text-align: left;
}

.categories {
    text-align: left;
    padding: 0px 5px;
    border-right: 1px solid #eaeaea;
}

.aboutMeCols .row .col-4:last-child .categories {
    border-right: none;
}

.categories svg {
    color: #d53369;
    text-align: left;
}

.categories h4 {
    color: #2c4061;
    margin-top: 15px;
}

.categories p {
    font-size: 12px;;
}